:root {
  --primary-color: rgb(0, 63, 95);
  --secondary-color: rgb(23, 122, 171);
  --background-color: rgb(16, 16, 16);
  --background-2-color: rgb(32, 32, 32);
  --tertiary-color: rgb(64, 64, 64);
  --priority-1-color: rgb(255, 0, 0);
  --priority-2-color: rgb(255, 242, 0);
  --priority-3-color: rgb(0, 0, 255);
  --priority-4-color: rgb(112, 112, 112);
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

div.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20vw;
  padding-top: 20px;
  background-color: var(--background-2-color);
  border-radius: 5px;
}

div.sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

div.sidebar h3 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px 20px;
  margin: 0;
  background-color: var(--background-2-color);
}

div.sidebar h3.inbox:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}

div.project-title {
  display: flex;
  align-items: center;
  width: 100%;
}

div.project-title p {
  display: flex;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 15px;
}

div.project-title p:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

div.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.sidebar ul li {
  display: flex;
  padding: 10px 0px 10px 40px;
  cursor: pointer;
}

div.sidebar ul li:hover {
  background-color: var(--tertiary-color);
}

div.main {
  display: flex;
  width: 100%;
}

div.project {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  padding: 0;
}

div.project-header {
  display: flex;
  flex-direction: row;
  height: 8vh;
  width: 100%;
  padding: 20px;
  background-color: var(--background-color);
}

div.project-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

div.project-info h2 {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

div.project-info p {
  display: flex;
  margin: 0;
  padding: 0;
}

div.project-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  margin-left: auto;
  padding: 20px;
}

div.project-actions button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
}

div.project-actions button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

div.project-actions select.sort-todos {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
}

div.project-actions select.sort-todos:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 78vw;
  padding: 1vw;
  background-color: var(--background-color);
}

ul.todo-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 90%;
  border-radius: 5px;
}

input.add-todo-input {
  display: none;
  width: 84%;
  padding: 10px;
  margin-left: -25px;
  border: 2px solid var(--tertiary-color);
  border-radius: 2px;
  background-color: var(--background-2-color);
  color: white;
}

ul.todo-list li {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
}

li div.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0 5px 0;
  padding: 0 10px 0 10px;
  width: 95%;
  background-color: var(--background-2-color);
  border-radius: 5px;
}

ul.completed-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 90%;
  border-radius: 5px;
}

ul.completed-list li {
  display: flex;
  flex-direction: row;
  align-items: top;
  width: 100%;
}

li.todo {
  display: flex;
}

li.todo div.todo-tile {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

ul.todo-list li div.todo-tile:hover {
  background-color: var(--tertiary-color);
  cursor: default;
}

li.todo input[type="checkbox"] {
  margin-right: 10px;
}

li.todo input[type="checkbox"]:hover {
  cursor: pointer;
}

li.todo div.todo-info {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

li.todo p.title {
  display: flex;
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

li.todo p.title:hover {
  cursor: text;
}

li p.due-date {
  display: flex;
  color: white;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

li div.todo-info button {
  background-color: var(--primary-color);
}

li div.todo-info button:hover {
  color: var(--background-color);
  background-color: var(--secondary-color);
}

li button.delete {
  color: var(--secondary-color);
  background-color: var(--background-color);
  margin-top: 15px;
  margin-left: 5px;
}

li.todo div.details {
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 13px 0 10px 0;
  margin-top: -3px;
  margin-left: auto;
  justify-content: space-between;
  z-index: 2;
  border-top: 1px solid var(--tertiary-color);
}

li.todo div.details:hover {
  cursor: default;
}

li.todo div.detail-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

li.todo div.details textarea {
  background-color: var(--background-2-color);
  height: 80%;
  width: 80%;
  color: white;
  border: none;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  resize: none;
}

li.todo div.details textarea:hover {
  cursor: text;
  background-color: var(--background-color);
}

li.todo div.details div.edit-section {
  display: flex;
  flex-direction: column;
}

div.details div.other-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.todo div.details input[type="date"] {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

li.todo div.details input[type="date"]:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: black;
}

li.todo div.details select {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 30px;
}

li.todo div.details select:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: black;
}

li.todo div.details button {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  white-space: nowrap;
  height: 30px;
}

li.todo div.details button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: black;
}

li.todo button.toggle {
  background-color: var(--background-color);
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
}

li.todo button.toggle:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}

li.todo button.delete {
  background-color: var(--background-color);
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
}

li.todo button.delete:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}

p.add-todo {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

p.add-todo:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

div.details ul.subtask-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 90%;
  border-radius: 5px;
}

div.details ul.subtask-list li {
  display: flex;
  flex-direction: column;
  align-items: top;
  width: 100%;
}

ul.subtask-list li div.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0 5px 0;
  padding: 0 10px 0 10px;
  width: 95%;
  background-color: var(--background-2-color);
  border-radius: 5px;
}

div.details input.subtask-input {
  display: none;
  width: 84%;
  padding: 10px;
  margin-left: -25px;
  border: 2px solid var(--tertiary-color);
  border-radius: 2px;
  background-color: var(--background-2-color);
  color: white;
}
